<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Mapping DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
<session-factory>


  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<property name="hibernate.connection.url">jdbc:oracle:thin:@deltahiti31202:1521:XE</property>


   <property name="hibernate.connection.username">saurabh</property>
   <property name="hibernate.connection.password">sauran</property>
   <property name="hibernate.connection.pool_size">3</property>
   <property name="show_sql">true</property>
   <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   
   

   <!-- List of XML mapping files -->
   <mapping resource="contact.hbm.xml"/>


</session-factory>




</hibernate-configuration>


